* {
  font-family: "Impact", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0hUjEmg1uWbmWsl57MI8QtsFNzXiGN_ovYQ&s");
  font-size: 1.1rem;
  font-family: "", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin: auto;
}
h1 {
  color: rgb(170, 45, 3);
  font-size: 3rem;
  border: 7px solid;
  background-color: wheat;
}
h2 {
  color: rgb(216, 7, 105);
  font-size: 2.5rem;
}
h3 {
  color: rebeccapurple;
  font-size: 1.5rem;
}
h4 {
  color: mediumvioletred;
  font-size: 1.2rem;
}
p {
  color: rgb(5, 103, 106);
  border: 1rem solid rgb(5, 103, 106);
  background-color: wheat;
  min-width: 1rem;
  min-height: 1rem;
  padding: 50px;
}
li {
  font-weight: bold;
}

.colour-green {
  color: rgb(0, 11, 172);
  font-weight: bold;
}
